<%- model_class = Candidate -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

총 <%=@candidates.size%>명
<%if @last_crawled%>
  <br/>마지막 업데이트 : <%=@last_crawled.created_at%> 
<%end%>
<hr/>
<a href=/candidates.json>JSON 데이터</a>


<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:necid) %></th>
      <th><%= model_class.human_attribute_name(:city) %></th>
      <th><%= model_class.human_attribute_name(:district) %></th>
      <th><%= model_class.human_attribute_name(:party) %></th>
      <th><%= model_class.human_attribute_name(:picture) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:gender) %></th>
      <th><%= model_class.human_attribute_name(:age) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:occupation) %></th>
      <th><%= model_class.human_attribute_name(:education) %></th>
      <th><%= model_class.human_attribute_name(:career) %></th>
      <th><%= model_class.human_attribute_name(:criminal_record) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= link_to candidate.necid, candidate_path(candidate) %></td>
        <td><%= candidate.city %></td>
        <td><%= candidate.district %></td>
        <td><%= candidate.party %></td>
        <td><%= candidate.picture %></td>
        <td><%= candidate.name %></td>
        <td><%= candidate.gender %></td>
        <td><%= candidate.age %></td>
        <td><%= candidate.address %></td>
        <td><%= candidate.occupation %></td>
        <td><%= candidate.education %></td>
        <td><%= candidate.career %></td>
        <td><%= candidate.criminal_record %></td>
        <td><%=l candidate.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_candidate_path(candidate), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      candidate_path(candidate),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_candidate_path,
            :class => 'btn btn-primary' %>
