<p id="notice"><%= notice %></p>

<p>
  <strong>Necid:</strong>
  <%= @candidate.necid %>
</p>

<p>
  <strong>City:</strong>
  <%= @candidate.city %>
</p>

<p>
  <strong>District:</strong>
  <%= @candidate.district %>
</p>

<p>
  <strong>Party:</strong>
  <%= @candidate.party %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @candidate.picture %>
</p>

<p>
  <strong>Name:</strong>
  <%= @candidate.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @candidate.gender %>
</p>

<p>
  <strong>Age:</strong>
  <%= @candidate.age %>
</p>

<p>
  <strong>Address:</strong>
  <%= @candidate.address %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @candidate.occupation %>
</p>

<p>
  <strong>Education:</strong>
  <%= @candidate.education %>
</p>

<p>
  <strong>Career:</strong>
  <%= @candidate.career %>
</p>

<p>
  <strong>Criminal record:</strong>
  <%= @candidate.criminal_record %>
</p>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
